<h1>About Me</h1>
<p>My interest in this field started the night I watched the movie Hackers as a 6th grader one night. The movie was a bit dated by then but it was still enough to catch my interest and plant the seed that ended up becoming the focus of my career passion.</p>
<br>
<p>My background comes from networking which was the path I opted to choose when pursing an associates degree. I knew the base foundation knowledge would help carry me further into this field. In 2008 I picked up the Ubuntu Unleashed 8.04 and Hacking The Art of Exploitation at a Barnes and Noble and so began the second phase of my still long journey.</p>
<br>
<p>It took me quite a few years of learning how not to learn things before my programming and Linux skills were up to my own standards. I still have much to learn in both areas but I enjoy now working in the field of my choice and have developed other interests as well including web application testing, and actually obtaining some kind of Linux certification.</p>
<br>
<p>In my recent days my interests have now shifted to rooting CTF and OSCP like vulnerable VMs. I read blogs by well known penetration testers within the community and I listen to several shows on the Security Weekly podcast. Although some of the information discussed is over my head it has been a great way to learn about real hot issues that are of primary discussion at the professional level of the InfoSec community.</p>
